/* Set theme variables here */

//
// "base" partial
//
// To make it easier to use all variables and mixins in any Sass file in this
// theme, each .scss file has an import "base" declaration. And this _base.scss
// file is in charge of importing all the other partials needed for the theme.
//
// This base partial is organized in this way:
// - First we set any shared Sass variables.
// - Next we import Compass plug-ins (Sass mixin libraries).
// - Last we import a _custom.scss partial that includes our custom mixins.
//


//
// Legacy IE support
//
// These variables are used by many mixins to add additional CSS to support
// specific versions of IE or specific vendor prefixes.
//
// To turn on support for IE6 or IE7, set those variables to true.
//
// Zen does not require special handling for IE8 or later. But Compass uses that
// variable for a couple edge cases. We include it for completeness sake. See
// the documentation at http://compass-style.org/reference/compass/support/
$box-sizing-polyfill-path: "htc/boxsizing.htc";



//
// Colors.
//
$page-background: #fff;


$text-color: #393939;
$link-color-link: #003399;
$link-color-visited: darken($link-color-link, 15%);
$link-color-hover: #993300;
$link-color-active: #993300;
$link-color-focus: #993300;

$header-color: #2f2f2f;

//
// Media Query Breakpoints 
// These values are meant as a starting point but can be adjusted to suit your own layout and should be 
// tweaked to match the rest of your design
//
$mq-s-tab: 25em; /* 400px */
$mq-l-tab: 43.75em; /* 700px */
$mq-desk: 56.25em; /* 900px */
$mq-l-desk: 81.25em; /* 1300px */


//
// Partials to be shared with all .scss files.
//
@import "compass/css3";
@import "compass/utilities";


